<?xml version="1.0"?>
<module name="pdksh">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="toolshosts"/>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
	<contents>
		<package isHost="true">
		<component id="pdksh" generated="true">
			<location basedir="{os}-{cpu}-{o|endian}" runtime="true">
				ksh
			</location>
		</component>
		</package>

	</contents>

</module>
