<?xml version="1.0"?>
<module name="aps">

	<type>Element</type>

	<classification>Runtime</classification>

	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>


<GroupOwner>tools</GroupOwner>
	<contents>
			<component id="aps" generated="true">
			<location basedir="{os}/{cpu}/o{.:endian}" runtime="true">
				aps
			</location>
		</component>

	</contents>

</module>
